body {
    margin: 0;
    background-color: rgba(201, 198, 235, 0.616);
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 3px;
    padding: 15px;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(53, 51, 51, 0.479);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    width: 230px;
    height:  230px;
    border-radius: 50%;
}

div {
    text-align: center;
    padding: 20px;
}