label, input {
  display: block;
  margin: 10px;
  font-family: sans-serif;
}

.text-field {
  border: 1px solid black;
  padding: 5px 10px;
}

.button {
  border: 1px solid black;
  font-size: 14px;
  background: white;
  padding: 5px 10px;
}